body {
	background-color: #D4D4D4;
	color: #000000;
	font-family:verdana,arial,helvetica,sans-serif;
	font-size: 0.8em;
	margin: 0;
	min-width: 1100px;
	padding: 0;
}

a:link, a:visited {
	color: #0054FF;
}

a:hover {
	color: #000000;
}

#header {
	background-color: #204CA0;
	margin: 0;
	padding: 0.5em 1em 0 3em;
}

#header h1 {
	color: #FFFFFF;
	font-weight: normal;
}

#header h1 span {
	color: #BFD82D;
	font-size: 0.6em;
}

#global_links {
	color: #E3FDFF;
	float: right;
	font-size: 0.8em
}

#global_links a {
	color: #E3FDFF;
}

#global_links a:hover {
	background-color: #0054FF;
}

#tabs {
	clear: left;
	height: 25px;
	margin: 15px 0 0;
	padding: 0;
}

#tabs ul {
	margin: 0;
	padding: 0;
}

#tabs li {
	display: inline;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#tabs a {
	background-color: #327AFF;
	color: #FFFFFF;
	float: left;
	font-size: 13px;
	font-weight: normal;
	margin: 0 2px;
	padding: 3px 8px 5px;
	text-decoration: none;
}

#main {
	margin: 2em 0 0 3em;
}

#left {
	background-color: #FFFFFF;
	min-width: 75%;
}

#left, #right {
	float: left;
}

#left .head {
	background-color: #D3DBff;
	color: #204CA0;
	font-size: 1.3em;
	font-weight: normal;
	margin: 0;
	padding: 0.7em 1em;
}

#left #screen {
	padding: 0;
	margin: 0;
}

#left #notice {
	color: #6d9100;
	padding: 0.7em 1em;
	margin: 0;
	background-color: #e5ffba;
	font-weight: bold;
}
#left #error {
	color: #9f1d20;
	padding: 0.7em 1em;
	margin: 0;
	background-color: #ffb7bc;
	font-weight: bold;
}
#left #warning {
	color: #ee9a00;
	padding: 0.7em 1em;
	margin: 0;
	background-color: #fff1c0;
	font-weight: bold;
}

#right {
	color: #666666;
	margin: 0;
	padding: 0 0 1em 1.5em;
}

#right h2 {
	color: #494949;
	font-size: 1.2em;
	font-weight: normal;
	padding: 0.5em;
}

#right a {
	color: #666666;
}

#right a:hover {
	color: #FFFFFF;
}

#footer {
	clear: both;
	color: #B5AEA1;
	font-size: 0.8em;
	padding: 1em 0 0 2em;
}

#list {
	margin: 0;
	padding: 0 1.5em 1.5em;
}

#list img {
	border: 0;
}

#list table {
	border-collapse: collapse;
	width: 100%;
}

#list table tr th {
	padding: 6px;
	vertical-align: top;
}

#list table tr td {
	padding: 6px;
	vertical-align: middle;
}

#list table tr .right {
  text-align: right;
}

#list .list-line-even {
	background-color: #CCDDFF;
}

#list .list-line-odd {
	background-color: #99BBFF;
}

ul {
	margin-left: 0;
	padding-left: 2em;
}

