<ul>
	<li><%= link_to "Rechnungen", :controller => "invoices"  %></li>
	<li><%= link_to "Kunden", :controller => "customers"  %></li>
	<li><%= link_to "Benutzer", :controller => "users"  %></li>
</ul>

